@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

#homePage {
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #fffcf2;
    position: relative;

    .home__banner {
        position: relative;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;

        .banner-img {
            max-width: 97%;
            height: 100%;
            margin: 0 auto;
            display: block;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .search-container {
            position: absolute;
            top: 79.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .home-search {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1; // 배너 이미지 위에 고정

            .search__inner {
                background-color: transparent; // 배경색 제거
                padding: 0; // 패딩 제거
                border-radius: 0; // 둥근 모서리 제거
                box-shadow: none; // 그림자 제거
            }

            .search__input {
                width: 100%;
                padding: 0;
                border: none;
                background: none;
                font-size: 20px;
                color: #333;
                font-family: var(--fontN);
                line-height: 4;
                padding-left: 1rem;
            }

            .search__input::placeholder {
                color: #333; // 플레이스홀더 텍스트 색상
                opacity: 1; // 플레이스홀더 투명도
            }
        }
    }

    .home__content {
        width: 97%;
        display: flex;
        align-items: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 0 auto;

        .home__video-container {
            width: 80%;
            height: 57vh;
            margin-right: 20px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        .home__description {
            width: 20%;
            height: 57vh;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
                font-size: 2rem;
                color: #333;
                margin-bottom: 10px;
                font-weight: bold;
                font-family: 'Fredericka the Great', serif;
            }

            p {
                font-size: 1rem;
                color: #666;
                padding-top: 2rem;
                line-height: 1.6;
            }

            .main-img {
                align-self: center;
                margin-top: 20px;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
